/* 공통 css */
.ma{
	margin: auto 0;	
}

.cursor-p{
	cursor: pointer;
}

.mt50{
	margin-top: 50px;
}

.mt100{
	margin-top: 100px;
}

.mt200{
	margin-top: 200px;
}

.mt500{
	margin-top: 500px;
}

.mb100{
	margin-bottom: 100px;
}

.mr30{
	margin-right: 30px;
}

/* padding */

.pt300{
	padding-top: 300px;
}

.p20p{
	padding: 20px;
}

.p30p{
	padding: 30px;
}


/* display */
.df{
	  display: flex;
}

.fd-col{
	flex-direction: column;
}

.fd-row{
	flex-direction: row;
}

.jc-c{
	justify-content: center;
}

.ai-c{
	align-items: center
}

/* 텍스트 정렬 */

.tac{
	text-align: center;
}

.tal{
	text-align: left;
}

.tar{
	text-align: right;
}

/* 너비 설정 */

.w100p{
	width: 100%;
}

.w95p{
	width: 95%;
}

.w90p{
	width: 90%;
}

.w85p{
	width: 85%;
}

.w80p{
	width: 80%;
}

.w75p{
	width: 75%;
}

.w70p{
	width: 70%;
}

.w50p{
	width: 50%;
}

.w30{
	width: 30px;
}

.w50{
	width: 50px;
}

.w80{
	width: 80px;
}

.w100{
	width: 100px;
}

.w130{
	width: 130px;
}

.w130{
	width: 130px;
}

.w150{
	width: 150px;
}

.w200{
	width: 200px;
}
.w300{
	width: 300px;
}

.w350{
	width: 350px;
}

.h100p{
	height: 100%;
}

.basicButton{
	width: 150px;
	height: 30px;
	border-radius: 8px;
	font-weight: bold;
	color: white;
}


.success{
	background-color: #0898ff;
	border: #fffbf4 solid 1px;
}

.success:hover{
	border: #0898ff solid 1px;
	background-color: #66ffff;
}

.danger{
	background-color: #b90f00;
	border: #fffbf4 solid 1px;
}

.danger:hover{
	border: #b90f00 solid 1px;
	background-color: #ff7e81;
}

.primary{
	background-color: #127f2e;
	border: #fffbf4 solid 1px;
}

.primary:hover{
	border: #127f2e solid 1px;
	background-color: #7ce895;
}

.va-m{
	vertical-align: middle;
}
